In [1]:
import pandas as pd
import mlflow
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [2]:
xgb.__version__

'1.5.2'

In [3]:
data = pd.read_csv('winequality-red.csv')

In [4]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
X = data.iloc[:,:11]
Y = data.   iloc[:,11:]
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [6]:
Y.head()

   quality
0        5
1        5
2        5
3        6
4        5

In [7]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [8]:
x_train.shape

(1279, 11)

In [9]:
y_train

      quality
388         6
1483        5
723         5
1057        5
552         6
...       ...
710         5
1574        6
18          4
1334        5
187         5

[1279 rows x 1 columns]

In [14]:
from sklearn.metrics import mean_absolute_error, accuracy_score
import numpy as np

In [15]:
with mlflow.start_run():
    model = xgb.XGBClassifier()
    model.fit(x_train, y_train)

    
    y_pred = model.predict(x_test)

    y_test = np.array(y_test)
    mae = mean_absolute_error(y_test, y_pred)
    acu = accuracy_score(y_test, y_pred)

    mlflow.log_metric('mae', mae)
    mlflow.log_metric('acu', acu)
    mlflow.xgboost.log_model(model, 'xbgClassifier')

[14:48:54] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [17]:
import pandas as pd

d = pd.read_csv('skill_tagger.csv')
print(d.head())

Empty DataFrame
Columns: [[('.net clr',  'skill'),  ('.net compact framework',  'skill').1,  ('.net framework',  'skill').2,  ('.net remoting',  'skill').3,  ('.net core',  'skill').4,  ('production support',  'skill').5, ('2d animation',  'skill').6,  ('2d cad drawing',  'skill').7,  ('2d drawing',  'skill').8,  ('2d software',  'skill').9,  ('2d art',  'skill').10,  ('2d graphics',  'skill').11,  ('2d to 3d conversion',  'skill').12,  ('recruitment',  'skill').13,  ('3d animation',  'skill').14,  ('3d architectural rendering',  'skill').15,  ('3d design',  'skill').16,  ('3d drawing',  'skill').17,  ('3d graphic design',  'skill').18,  ('3d graphics',  'skill').19,  ('3d home architect',  'skill').20,  ('3d mapping',  'skill').21,  ('3d materials',  'skill').22,  ('3d math',  'skill').23,  ('3d modeling',  'skill').24,  ('3d modeling software',  'skill').25,  ('3d packaging',  'skill').26,  ('3d particles and dynamics',  'skill').27,  ('3d printing',  'skill').28,  ('3d production',  'skill').29,  ('3d prototyping',  'skill').30,  ('3d reconstruction',  'skill').31,  ('3d rendering',  'skill').32,  ('3d scanning',  'skill').33,  ('3d secure',  'skill').34,  ('3d seismic interpretation',  'skill').35,  ('3d simulation',  'skill').36,  ('3d studio max',  'skill').37,  ('3d studio viz',  'skill').38,  ('3d textures',  'skill').39,  ('3d tracking',  'skill').40,  ('3d typography',  'skill').41,  ('3d visualization',  'skill').42,  ('3d and animation',  'skill').43,  ('3d displays',  'skill').44,  ('3d,  animation',  'skill').45,  ('3d.1,  animation und cad',  'skill').46,  ('api development',  'skill').47,  ('api platform',  'skill').48, ...]
Index: []

[0 rows x 3343 columns]